.buttonStyle{
    h2{
        color: white;
        font-size: 1.5vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    button{
        background-color: rgb(71, 71, 169);
        border: none;
        display: block;
        margin: auto;
        padding: 1vw 2vw;
        color: white;
        border-radius: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

}