@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.todoStyling{
    background-color: rgb(255, 179, 191);
    padding: 2vw 10vw;
    width: 35vw;
    height: 35vw;
    display: block;
    margin: auto;
    margin-bottom: 3vw;
    position: relative;
    
    h2{
        font-family: "Indie Flower", cursive;
        font-size: 5vw;
        text-align: center;
        margin-top: 0;
        text-decoration: underline;
    }
}

.deleteAll{
    position: absolute;
    font-size: 1vw;
    background-color: transparent;
    border: none;
    top: 5%;
    right: 5%;
    border-radius: 99px;
    padding: 0.5vw 2vw;
    font-family: "Indie Flower", cursive;
    

    img{
        width: 1.2vw;
        padding-right: 1vw;
        vertical-align: -0.2vw;
    }

    &:hover{
        background-color: rgb(190, 39, 39);
        color: white;

        img{
            filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(338deg) brightness(104%) contrast(100%);
        }
    }
}

.addTask{
    background-color: transparent;
    border: none;
    font-family: "Indie Flower", cursive;
    font-size: 1.5vw;
    position: absolute;
    right: 5%;
    bottom: 5%;

    span{
        margin-right: 3vw;
        border: 2px solid black;
        padding: 0vw 0.75vw;
        border-radius: 10vw;

        &:hover{
            background-color: white;
        }
    }
}