@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.inputStyling{
    display: flex;
    justify-content: center;

    input{
        background-color: transparent;
        border: none;
        color: black;
        font-family: "Indie Flower", cursive;
        font-size: 1.5vw;
        margin: 0 3vw;
        border-bottom: 2px solid black;


        &::placeholder{
            color: black;
        }
        
    }

    button{
        font-family: "Indie Flower", cursive;
        font-size: 1.5vw;
        background-color: transparent;
        border: none;
        padding: 0 1vw;

        &:hover{
            background-color: white;
            border-radius: 50px;
        }
    }
}